@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 1000px;
  background-image: url("https://i.pinimg.com/564x/5a/0f/d3/5a0fd3246ebef7a4f49e91d3240d9ae7.jpg");
  background-position: center center;
}
.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.821);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.message {
  background-color: #ffd3fc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 40%;
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 767px) {
  .message {
    height: 30%; /* Điều chỉnh chiều cao cho các màn hình có kích thước nhỏ hơn 768px */
    width: 80%; /* Điều chỉnh chiều rộng cho các màn hình có kích thước nhỏ hơn 768px */
  }
}
.message span{
   margin: 0;
  font-size: 2rem;
  color: rgb(178, 77, 166);
  text-align: center;
  font-weight: 900;
}

.paper {
  background-image: url("https://i.pinimg.com/564x/a2/16/3d/a2163d22a5670dd9eefe90ee646c850e.jpg");
  background-size: 500px;
  background-position: center center;
  padding: 20px 100px;
/*  min-width: 800px; */
  
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px 0px rgba(0,0,0,0.5);
  
  position: absolute;
}
.rotate{
  transform: rotateZ(20deg);
}
.paper.heart {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;
}

.paper.image {
  padding: 10px;
}
.paper.image p {
  font-size: 30px;
}

img {
  max-height: 250px;
  width: 100%;
  user-select: none;
  object-fit: cover;
}
a{
  list-style: none;
}
.paper.heart::after {
  content: "";
  background-image: url('https://th.bing.com/th/id/OIP._u4jkSIsbSpcEz-CkR486wHaHa?rs=1&pid=ImgDetMain');
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 150px;

  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

p {
  font-family: 'Zeyada';
  font-size: 50px;
  color: rgb(0,0,100);
  opacity: 0.75;
  user-select: none;
  filter: drop-shadow(2px 1.5px 1px rgba(0,0,105,0.9));
}
#playButton{
    position: fixed;
    bottom: 50px;
}
button {
  --glow-color: rgb(255, 255, 255);
  --glow-spread-color: rgba(53, 232, 187, 0.781);
  --enhanced-glow-color: rgb(192, 251, 244);
  --btn-color: rgb(31, 185, 167);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 12px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
 }
 
 button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }
 
 button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }
 .info{
  position: fixed;
  top: 0;
  left: 0;
  color: rgb(0, 0, 0);
  font-family: 'Zeyada';
 }
#myVideo{
  top:0;
  position: absolute;
  right:0;
}
.linktopage{
  position: absolute;
  top:0;
}
